*~
backups/*
url
elpa/*
auto-save-list/*
\#*\#
places
.\#*
.smex-items
/var/
/auto-save-list/
/backups/
/elpa/
/.cask
/places
/.smex-items
/eshell
/ac-comphist.dat
/project-persist
/.graphene-geometry
/.python-environments